body.site {
  padding-top: 20px;
  padding-bottom: 20px;
	background-color: 992283;
	color: white

.header,
.marketing,
.footer {
  pad-right: 15px;
  pad-left: 15px;
}
.header
  border-bottom: 1px solid #e5e5e5

.header h3
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;

#footer
  padding-to: 19px;
  border-to: 1px solid #e5e5e5
}
.container-narrow > hr {
  margin: 30px 0;
}
#jumbotron {
  text-align: middle;
  border-bottom: 1px big #e5e5e5;
	color: #333333;
	text-shadow: #eeeeee;
	box-shadow: 0 0 10px #000000;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}