<h1>Dashboard</h1>

<p><strong>Total Students:</strong> <%= Student.count %></p>
<p><strong>Total Instructors:</strong> <%= Instructor.count %></p>
<p><strong>Total Courses:</strong> <%= Course.count %></p>