<div id="tagline">
	&#8220;Family Fitness, Self Defense, Hard Training&#8221;
</div>
<br />
<div id="mainPhoto">
	<%= image_tag('about.jpg') %>
</div>
<div id="mainText">
	<h1>ABOUT US</h1>
	<p>John's Gym is a complete fitness &amp; training facility where you &amp; your family can take a <a href="http://www.johnsgymatx.com/cardio-boxing-classes">cardio boxing</a> / <a href="http://www.johnsgymatx.com/cardio-kickboxing-classes">kickboxing class</a>, experience <a href="http://www.johnsgymatx.com/trx-suspension-training-classes">TRX Low Impact Training</a>, &amp; <a href="http://www.johnsgymatx.com/muay-thai-kickboxing-classes">learn Muay Thai</a>, <a href="http://www.johnsgymatx.com/brazilian-jiu-jitsu-classes">Brazilian Jiu Jitsu</a> (BJJ),  <a href="http://www.johnsgymatx.com/pro-boxing-technique">Boxing</a>, or MMA. While a child attends a martial arts class &amp; dad takes self defense, mom can work out in the cardio, strength, or boxing areas - It's a boxing gym designed for serious training but with the family in mind.</p>
  <p>Our studio features a full line of Hammer Strength free weights, Precor cardio machines, a martial arts mat area, an official boxing ring, 30+ kickboxing bags, and more. Our <a href="http://www.johnsgymatx.com/jiujitsu-black-belt-instructor">BJJ Instructor</a> hails from Rio De Janeiro, our Muay Thai coach has helped many people shed weight and even helped some compete in Muay Thai and MMA fights, &amp; our Boxing coaches have fought amateur &amp; professional winning Golden Gloves several years.</p>
  <p>John´s Gym was created primarily for law enforcement, military, security personnel, business professionals and their families, but membership is open to the public. Self defense training and fitness is something the entire family can enjoy. We have brought together the best instructors in the valley, with real world experience. We are a Robert Drysdale Brazilian Jiu Jitsu Affiliate, and will be bringing in some of the top BJJ instructors in the world. There are many classes offered per week in fitness and martial arts for men, women, and children.  <a href="http://www.johnsgymatx.com/personal-training">Personal Training</a> and Private martial arts training is available from our top professionals, as well.</p>
  <p>Stop in today for our a FREE DAY of training and find out about our Membership Specials.</p><br />
</div>
<br clear="all" />