<h1>Update Photo</h1>

<% form_for @photo, :url => admin_gallery_photo_path(@photo), :html => { :multipart => true } do |f| -%>
	<%= image_tag(@photo.image.url(:main)) %>
  <%= render :partial => 'form', :locals => { :f => f } %>
	<p><%= f.submit('Update') %> -or- <%= link_to('cancel', admin_gallery_photos_path) %></p>
<% end -%>